<div id="<%= dom_id phsician %>">
  <p>
    <strong>Name:</strong>
    <%= phsician.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= phsician.email %>
  </p>

  <p>
    <strong>Unique:</strong>
    <%= phsician.unique_id %>
  </p>

</div>
