<h1>Tags</h1>

<div id="tags">
  <% @tags.each do |tag| %>
    <%= render tag %>
    <p>
      <%= link_to "Show this tag", tag %>
    </p>
  <% end %>
</div>

<br>

<%= link_to 'New Tag', new_tag_path, class: 'btn btn-primary' %>